lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.pyc


pids
results
build

*/bower_components/*
bower_components/*
*/node_modules/*
node_modules/*
coverage/*

.DS_Store

*.orig

*.sublime-project
*.sublime-workspace
