.durian-login-page {
	
	background: rgba(87, 178, 127, 0.7);
	width: 100%;
	height: 100%;
	
	@include respond-down-to('sm') {
		
		.login-panel {
			background: green;
			display: block;
			position: relative;
			width: 450px;
			margin: auto;
			margin-top: 20px;
			margin-bottom: 20px;
			padding: 1rem;
			
			background: white;
			border: 1px $gray-lighter solid;
			border-radius: 6px;
			box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
			
			.database-option {
				width: 33%;
				padding: 3px;
			}
		}
	}
	
	@include respond-up-to('sm') {
		.login-panel {
			position: relative;
			width: 100%;
			
			padding: 10px;
			
			.database-option {
				width: 33%;
				padding: 3px;
			}
		}
	}
	
	.login-header {
		
		position: relative;
		padding-bottom: 2rem;
		
		text-align: center;
		font-size: 1.5rem;
		
		> a {
			position: absolute; 
			left: 0px;
		}
	}
	
	.database-option {
		display: inline-block; 
		position: relative; 
		overflow: hidden;
		
		& > button {
			position: relative;
			width: 100%;
			padding: 0px;
			background: white; 
			font-size: 16px;
			text-align: center; 
			margin: 0;
			
			.caption {
				position: absolute;
				z-index: 10;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				background: transparent;
				
				&:hover {
					background: transparentize($greyColor, 0.7);
				}
			}
		}
	}
}