.smart-log-viewer {
	font-family: 'Roboto Slab', serif;
	
	$backgroundColor: #3b3b3b;
	$greenColor: #2ebe8a;
	$redColor: #ee5d54;
	
	background: $backgroundColor;
	color: white;
	
	position: fixed;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	
	.log-panel {
		position: relative;
		height: 100%;
		
		overflow: auto;
		
		.log-line {
			position: relative;
			font-size: 14px;
			
			.timestamp {
				position: relative;
				display: inline-block;
				min-width: 122px;
				padding-left: 2px;
			}
			
			.level {
				position: relative;
				display: inline-block;
				min-width: 40px;
				
				span {
					border-radius: 3px;
					padding: 0px 4px;
				}
				
				span.info-level {
					background: lighten($backgroundColor, 15%);
				}
				
				span.error-level {
					background: fade-out($redColor, 0.5);
				}
			}
			
			.text-highlight {
				background: fade-out($greenColor, 0.5);
				border-radius: 3px;
				padding-right: 1px;
				padding-left: 1px;
				margin-right: -1px;
				margin-left: -1px;
				font-size: bold;
			}
		}
		
		.loading-panel {
			padding-bottom: 70px;
			padding-left: 2px;
		}
	}
	
	.control-panel {
		border-top: solid 2px lighten($backgroundColor, 30%);
		background: $backgroundColor;
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 40px;
		z-index: 100;
		
		.search-panel {
			
			padding: 4px;
			max-width: 550px;
			display: inline-block;
			
			.search-input {
				width: 500px;
				border-radius: 4px;
				font-size: 20px;
				background: lighten($backgroundColor, 50%);
				color: $backgroundColor;
				border: none;
				height: 30px;
				padding-top: 2px;
				padding-bottom: 2px;
			}
		}
		
		.date-panel {
			position: relative;
			display: inline;
			width: 300px;
			background: red;
		}
	}
}