/** Colors */
.durian-login-page {
  -webkit-perspective: 500px; }
  .durian-login-page .cube-panel {
    position: relative;
    width: 360px;
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
    /* Animate the transform properties */
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }
    .durian-login-page .cube-panel .panel-front {
      -webkit-transform: translateZ(180px);
      transform: translateZ(180px); }
    .durian-login-page .cube-panel .panel-right {
      -webkit-transform: rotateY(90deg) translateZ(180px);
      transform: rotateY(90deg) translateZ(180px); }
  .durian-login-page .box-panel {
    margin: auto;
    margin-top: 40px; }
    .durian-login-page .box-panel .database-panel {
      position: absolute;
      top: 0;
      background: #fff; }
      .durian-login-page .box-panel .database-panel .database-header {
        font-size: 25px;
        color: #b7b7b7;
        border-bottom: solid 2px #b7b7b7;
        padding-bottom: 3px;
        margin-bottom: 3px;
        text-align: center; }
      .durian-login-page .box-panel .database-panel .database-option {
        display: inline-block;
        position: relative;
        width: 120px;
        max-width: 120px;
        height: 120px;
        overflow: hidden;
        margin-right: 0px;
        margin-left: 0px;
        padding: 0px;
        -webkit-transition: -webkit-transform 0s;
        transition: transform 0s; }
        .durian-login-page .box-panel .database-panel .database-option > button {
          position: relative;
          border: solid 2px #b7b7b7;
          border-radius: 6px;
          margin: 3px;
          padding-right: 3px;
          padding-left: 3px;
          width: 114px;
          height: 114px;
          background: white;
          font-size: 16px; }
          .durian-login-page .box-panel .database-panel .database-option > button .caption {
            position: absolute;
            z-index: 10;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: transparent; }
            .durian-login-page .box-panel .database-panel .database-option > button .caption:hover {
              background: rgba(183, 183, 183, 0.3); }
      .durian-login-page .box-panel .database-panel .database-option.selected > button .caption {
        background: rgba(183, 218, 242, 0.3); }
      .durian-login-page .box-panel .database-panel .database-footer {
        margin-top: 3px;
        padding-top: 3px; }
        .durian-login-page .box-panel .database-panel .database-footer > a {
          position: absolute;
          right: 0px;
          font-size: 14px; }
    .durian-login-page .box-panel .credentials-panel {
      position: absolute;
      top: 0; }
      .durian-login-page .box-panel .credentials-panel .credentials-header {
        font-size: 25px;
        color: #b7b7b7;
        border-bottom: solid 2px #b7b7b7;
        padding-bottom: 3px;
        margin-bottom: 3px;
        text-align: center; }
        .durian-login-page .box-panel .credentials-panel .credentials-header > a {
          position: absolute;
          left: 0px;
          margin-top: 10px;
          font-size: 14px; }
      .durian-login-page .box-panel .credentials-panel .credentials-content {
        width: 360px;
        padding: 3px; }
        .durian-login-page .box-panel .credentials-panel .credentials-content input.radius {
          border-radius: 3px; }
      .durian-login-page .box-panel .credentials-panel .credentials-footer {
        margin-top: 3px;
        padding-top: 3px; }
        .durian-login-page .box-panel .credentials-panel .credentials-footer > button {
          position: absolute;
          right: 3px;
          font-size: 14px; }
  .durian-login-page .slide-right {
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg); }

.explorer-page {
  padding: 0px;
  min-height: 100%; }
  .explorer-page form input, .explorer-page form select, .explorer-page form a span {
    border-width: 2px;
    border-color: #b7b7b7; }
  .explorer-page .search-panel {
    position: absolute;
    height: 86px;
    width: 100%;
    padding-top: 10px;
    border-bottom: #b7b7b7 solid 2px; }
  .explorer-page .result-panel {
    position: absolute;
    top: 86px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .explorer-page .result-panel .result-header {
      margin-left: 5px; }
    .explorer-page .result-panel .result-content {
      margin-right: 5px;
      margin-top: 5px;
      position: relative;
      text-align: left; }
      .explorer-page .result-panel .result-content .document-list {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row;
        flex-flow: row;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap; }
        .explorer-page .result-panel .result-content .document-list .document {
          width: 130px;
          height: 130px;
          overflow: hidden;
          margin-left: 5px;
          margin-bottom: 5px;
          border-radius: 5px;
          border: solid 2px #b7b7b7;
          display: inline-block;
          position: relative;
          font-size: 12px;
          padding: 3px; }
          .explorer-page .result-panel .result-content .document-list .document .overview {
            color: #b7b7b7; }
          .explorer-page .result-panel .result-content .document-list .document .caption {
            position: absolute;
            z-index: 10;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.6);
            color: #6b6b6b; }
            .explorer-page .result-panel .result-content .document-list .document .caption .title {
              position: absolute;
              font-size: 11px;
              bottom: 0px;
              left: 3px;
              transform: rotate(-45deg);
              transform-origin: left top 0;
              padding-left: 2px;
              padding-right: 2px;
              border-radius: 3px;
              background: rgba(255, 255, 255, 0.6); }
            .explorer-page .result-panel .result-content .document-list .document .caption:hover {
              background: rgba(183, 183, 183, 0.6); }
        .explorer-page .result-panel .result-content .document-list .document.selected .caption {
          background: rgba(183, 218, 242, 0.6); }
          .explorer-page .result-panel .result-content .document-list .document.selected .caption:hover {
            background: rgba(183, 218, 242, 0.6); }
    .explorer-page .result-panel .document-view {
      padding: 10px;
      color: #6b6b6b;
      overflow-x: auto; }
  .explorer-page .expendable-sidebar-panel {
    position: absolute;
    min-height: 100%;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    -webkit-align-items: stretch;
    align-items: stretch; }
    .explorer-page .expendable-sidebar-panel .center-panel {
      flex: 2;
      /* take the full space */ }
    .explorer-page .expendable-sidebar-panel .sidebar-panel {
      border-left: solid 2px #b7b7b7;
      margin-left: -2px;
      min-width: 35px;
      max-width: 35px;
      /*flex-grow: 0;
      -webkit-flex: 0 0 35px;
      flex: 0 0 35px;*/ }
      .explorer-page .expendable-sidebar-panel .sidebar-panel .toggle-panel {
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
        width: 30px; }
  .explorer-page .expendable-sidebar-panel.expended .sidebar-panel {
    min-width: 400px; }

.smart-log-viewer {
  font-family: 'Roboto Slab', serif;
  background: #4c4c4c;
  color: white;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0; }
  .smart-log-viewer .log-panel {
    position: relative;
    height: 100%;
    overflow: auto; }
    .smart-log-viewer .log-panel .log-line {
      position: relative;
      font-size: 14px; }
      .smart-log-viewer .log-panel .log-line .timestamp {
        position: relative;
        display: inline-block;
        min-width: 122px;
        padding-left: 2px; }
      .smart-log-viewer .log-panel .log-line .label-flag {
        position: relative;
        display: inline-block;
        min-width: 70px;
        max-width: 70px;
        text-align: center;
        padding: 1px 1px; }
        .smart-log-viewer .log-panel .log-line .label-flag div {
          border-radius: 3px;
          position: relative;
          display: inline-block;
          padding: 0px 3px;
          max-width: 66px;
          overflow: hidden;
          text-overflow: ellipsis;
          background: #333333; }
      .smart-log-viewer .log-panel .log-line .level {
        position: relative;
        display: inline-block;
        min-width: 40px; }
        .smart-log-viewer .log-panel .log-line .level span {
          border-radius: 3px;
          padding: 0px 4px; }
        .smart-log-viewer .log-panel .log-line .level span.info-level {
          background: #727272; }
        .smart-log-viewer .log-panel .log-line .level span.error-level {
          background: rgba(238, 93, 84, 0.5); }
      .smart-log-viewer .log-panel .log-line .text-highlight {
        background: rgba(46, 190, 138, 0.5);
        border-radius: 3px;
        padding-right: 1px;
        padding-left: 1px;
        margin-right: -1px;
        margin-left: -1px;
        font-size: bold; }
    .smart-log-viewer .log-panel .top-loading-panel {
      padding: 3px; }
      .smart-log-viewer .log-panel .top-loading-panel div {
        padding: 1px 5px;
        display: block;
        border-radius: 4px;
        background: #666666;
        color: #999999;
        text-align: center;
        font-size: 20px; }
    .smart-log-viewer .log-panel .bottom-loading-panel {
      padding-bottom: 70px;
      padding-left: 2px; }
  .smart-log-viewer .control-panel {
    border-top: solid 2px #999999;
    background: #4c4c4c;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    z-index: 100; }
    .smart-log-viewer .control-panel .search-panel {
      padding: 4px;
      margin-right: 10px;
      max-width: 450px; }
    .smart-log-viewer .control-panel .date-panel {
      position: relative;
      display: inline;
      width: 300px;
      background: red; }
  .smart-log-viewer [smart-search] {
    vertical-align: middle;
    white-space: nowrap;
    position: relative; }
    .smart-log-viewer [smart-search] .icon {
      position: absolute;
      z-index: 1;
      top: 0px; }
    .smart-log-viewer [smart-search] .icon-left {
      margin-left: 10px;
      margin-top: 9px;
      color: #666666;
      font-size: 20px; }
    .smart-log-viewer [smart-search] .icon-right {
      margin-left: -25px;
      margin-top: 9px;
      color: #666666;
      font-size: 20px;
      cursor: pointer; }
      .smart-log-viewer [smart-search] .icon-right:hover {
        color: #999999; }
    .smart-log-viewer [smart-search] .search-input {
      position: relative;
      float: left;
      width: 500px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      font-size: 20px;
      background: #333333;
      color: #999999;
      border: none;
      height: 30px;
      padding-left: 35px;
      padding-right: 30px;
      padding-top: 0px;
      padding-bottom: 2px; }
      .smart-log-viewer [smart-search] .search-input::-webkit-input-placeholder {
        color: #666666; }
      .smart-log-viewer [smart-search] .search-input:-moz-placeholder {
        color: #666666; }
      .smart-log-viewer [smart-search] .search-input::-moz-placeholder {
        color: #666666; }
      .smart-log-viewer [smart-search] .search-input:-ms-input-placeholder {
        color: #666666; }
      .smart-log-viewer [smart-search] .search-input:after {
        content: "";
        clear: both; }

body > div {
  font-family: 'Ubuntu'; }

/*# sourceMappingURL=index.css.map */
