/** Colors */
.durian-login-page {
  -webkit-perspective: 500px; }
  .durian-login-page .cube-panel {
    position: relative;
    width: 360px;
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
    /* Animate the transform properties */
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }
    .durian-login-page .cube-panel .panel-front {
      -webkit-transform: translateZ(180px);
      transform: translateZ(180px); }
    .durian-login-page .cube-panel .panel-right {
      -webkit-transform: rotateY(90deg) translateZ(180px);
      transform: rotateY(90deg) translateZ(180px); }
  .durian-login-page .box-panel {
    margin: auto;
    margin-top: 40px; }
    .durian-login-page .box-panel .database-panel {
      position: absolute;
      top: 0;
      background: #fff; }
      .durian-login-page .box-panel .database-panel .database-header {
        font-size: 25px;
        color: #b7b7b7;
        border-bottom: solid 2px #b7b7b7;
        padding-bottom: 3px;
        margin-bottom: 3px;
        text-align: center; }
      .durian-login-page .box-panel .database-panel .database-option {
        display: inline-block;
        position: relative;
        width: 120px;
        max-width: 120px;
        height: 120px;
        overflow: hidden;
        margin-right: 0px;
        margin-left: 0px;
        padding: 0px;
        -webkit-transition: -webkit-transform 0s;
        transition: transform 0s; }
        .durian-login-page .box-panel .database-panel .database-option > button {
          position: relative;
          border: solid 2px #b7b7b7;
          border-radius: 6px;
          margin: 3px;
          padding-right: 3px;
          padding-left: 3px;
          width: 114px;
          height: 114px;
          background: white;
          font-size: 16px; }
          .durian-login-page .box-panel .database-panel .database-option > button .caption {
            position: absolute;
            z-index: 10;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: transparent; }
            .durian-login-page .box-panel .database-panel .database-option > button .caption:hover {
              background: rgba(183, 183, 183, 0.3); }
      .durian-login-page .box-panel .database-panel .database-option.selected > button .caption {
        background: rgba(183, 218, 242, 0.3); }
      .durian-login-page .box-panel .database-panel .database-footer {
        margin-top: 3px;
        padding-top: 3px; }
        .durian-login-page .box-panel .database-panel .database-footer > a {
          position: absolute;
          right: 0px;
          font-size: 14px; }
    .durian-login-page .box-panel .credentials-panel {
      position: absolute;
      top: 0; }
      .durian-login-page .box-panel .credentials-panel .credentials-header {
        font-size: 25px;
        color: #b7b7b7;
        border-bottom: solid 2px #b7b7b7;
        padding-bottom: 3px;
        margin-bottom: 3px;
        text-align: center; }
        .durian-login-page .box-panel .credentials-panel .credentials-header > a {
          position: absolute;
          left: 0px;
          margin-top: 10px;
          font-size: 14px; }
      .durian-login-page .box-panel .credentials-panel .credentials-content {
        width: 360px;
        padding: 3px; }
        .durian-login-page .box-panel .credentials-panel .credentials-content input.radius {
          border-radius: 3px; }
      .durian-login-page .box-panel .credentials-panel .credentials-footer {
        margin-top: 3px;
        padding-top: 3px; }
        .durian-login-page .box-panel .credentials-panel .credentials-footer > button {
          position: absolute;
          right: 3px;
          font-size: 14px; }
  .durian-login-page .slide-right {
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg); }

.smart-log-viewer {
  font-family: 'Roboto Slab', serif;
  color: white;
  position: relative; }
  .smart-log-viewer .log-panel {
    background: #3b3b3b; }
    .smart-log-viewer .log-panel .log-line {
      position: relative;
      font-size: 14px; }
      .smart-log-viewer .log-panel .log-line .timestamp {
        position: relative;
        display: inline-block;
        min-width: 122px;
        padding-left: 2px; }
      .smart-log-viewer .log-panel .log-line .level {
        position: relative;
        display: inline-block;
        min-width: 40px; }
        .smart-log-viewer .log-panel .log-line .level span {
          border-radius: 3px;
          padding: 0px 4px; }
        .smart-log-viewer .log-panel .log-line .level span.info-level {
          background: #616161; }
        .smart-log-viewer .log-panel .log-line .level span.error-level {
          background: rgba(238, 93, 84, 0.5); }

body > div {
  font-family: 'Ubuntu'; }

/*# sourceMappingURL=index.css.map */
