/** Colors **/
/** Dummy css as 1st css block is skipped **/
body {
  background: transparent; }

.durian-login-page {
  background: rgba(87, 178, 127, 0.7);
  width: 100%;
  height: 100%; }
  @media only screen and (min-width: 544px) and (-webkit-max-device-pixel-ratio: 1.5) {
    .durian-login-page .login-panel {
      background: green;
      display: block;
      position: relative;
      width: 450px;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 1rem;
      background: white;
      border: 1px #eceeef solid;
      border-radius: 6px;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4); }
      .durian-login-page .login-panel .database-option {
        width: 33%;
        padding: 3px; } }
  @media only screen and (max-width: 544px), only screen and (-webkit-min-device-pixel-ratio: 2) {
    .durian-login-page .login-panel {
      position: relative;
      width: 100%;
      padding: 10px; }
      .durian-login-page .login-panel .database-option {
        width: 33%;
        padding: 3px; } }
  .durian-login-page .login-header {
    position: relative;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 1.5rem; }
    .durian-login-page .login-header > a {
      position: absolute;
      left: 0px; }
  .durian-login-page .database-option {
    display: inline-block;
    position: relative;
    overflow: hidden; }
    .durian-login-page .database-option > button {
      position: relative;
      width: 100%;
      padding: 0px;
      background: white;
      font-size: 16px;
      text-align: center;
      margin: 0; }
      .durian-login-page .database-option > button .caption {
        position: absolute;
        z-index: 10;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: transparent; }
        .durian-login-page .database-option > button .caption:hover {
          background: rgba(183, 183, 183, 0.3); }

.explorer-page {
  padding: 0px;
  min-height: 100%; }
  .explorer-page form input, .explorer-page form select, .explorer-page form a span {
    border-width: 2px;
    border-color: #b7b7b7; }
  .explorer-page .search-panel {
    position: absolute;
    height: 86px;
    width: 100%;
    padding-top: 10px;
    border-bottom: #b7b7b7 solid 2px; }
  .explorer-page .result-panel {
    position: absolute;
    top: 86px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .explorer-page .result-panel .result-header {
      margin-left: 5px; }
    .explorer-page .result-panel .result-content {
      margin-right: 5px;
      margin-top: 5px;
      position: relative;
      text-align: left; }
      .explorer-page .result-panel .result-content .document-list {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row;
        flex-flow: row;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap; }
        .explorer-page .result-panel .result-content .document-list .document {
          width: 130px;
          height: 130px;
          overflow: hidden;
          margin-left: 5px;
          margin-bottom: 5px;
          border-radius: 5px;
          border: solid 2px #b7b7b7;
          display: inline-block;
          position: relative;
          font-size: 12px;
          padding: 3px; }
          .explorer-page .result-panel .result-content .document-list .document .overview {
            color: #b7b7b7; }
          .explorer-page .result-panel .result-content .document-list .document .caption {
            position: absolute;
            z-index: 10;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.6);
            color: #6b6b6b; }
            .explorer-page .result-panel .result-content .document-list .document .caption .title {
              position: absolute;
              font-size: 11px;
              bottom: 0px;
              left: 3px;
              transform: rotate(-45deg);
              transform-origin: left top 0;
              padding-left: 2px;
              padding-right: 2px;
              border-radius: 3px;
              background: rgba(255, 255, 255, 0.6); }
            .explorer-page .result-panel .result-content .document-list .document .caption:hover {
              background: rgba(183, 183, 183, 0.6); }
        .explorer-page .result-panel .result-content .document-list .document.selected .caption {
          background: rgba(183, 218, 242, 0.6); }
          .explorer-page .result-panel .result-content .document-list .document.selected .caption:hover {
            background: rgba(183, 218, 242, 0.6); }
    .explorer-page .result-panel .document-view {
      padding: 10px;
      color: #6b6b6b;
      overflow-x: auto; }
  .explorer-page .expendable-sidebar-panel {
    position: absolute;
    min-height: 100%;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    -webkit-align-items: stretch;
    align-items: stretch; }
    .explorer-page .expendable-sidebar-panel .center-panel {
      flex: 2;
      /* take the full space */ }
    .explorer-page .expendable-sidebar-panel .sidebar-panel {
      border-left: solid 2px #b7b7b7;
      margin-left: -2px;
      min-width: 35px;
      max-width: 35px;
      /*flex-grow: 0;
      -webkit-flex: 0 0 35px;
      flex: 0 0 35px;*/ }
      .explorer-page .expendable-sidebar-panel .sidebar-panel .toggle-panel {
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
        width: 30px; }
  .explorer-page .expendable-sidebar-panel.expended .sidebar-panel {
    min-width: 400px; }

.smart-log-viewer {
  font-family: 'Roboto Slab', serif;
  background: #4c4c4c;
  color: white;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0; }
  .smart-log-viewer .log-panel {
    position: relative;
    height: 100%;
    overflow: auto; }
    .smart-log-viewer .log-panel .flag {
      border-radius: 3px;
      position: relative;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 18px;
      padding: 0px 3px; }
    .smart-log-viewer .log-panel table {
      width: 100%;
      border: none;
      background: transparent;
      padding: 0px;
      margin: 0px; }
      .smart-log-viewer .log-panel table tr.log-line {
        position: relative;
        font-size: 14px;
        line-height: 21px;
        background: transparent; }
        .smart-log-viewer .log-panel table tr.log-line td {
          background: transparent;
          border: none;
          padding: 1px;
          color: white; }
        .smart-log-viewer .log-panel table tr.log-line .timestamp {
          position: relative;
          display: inline-block;
          min-width: 122px;
          max-width: 135px;
          width: 135px;
          padding-left: 2px; }
        .smart-log-viewer .log-panel table tr.log-line .labl {
          position: relative;
          display: inline-block;
          min-width: 70px;
          max-width: 70px;
          width: 70px;
          text-align: center;
          padding: 1px;
          max-height: 19px; }
          .smart-log-viewer .log-panel table tr.log-line .labl .flag {
            max-width: 68px;
            background: rgba(156, 130, 84, 0.7); }
        .smart-log-viewer .log-panel table tr.log-line .level {
          position: relative;
          display: inline-block;
          min-width: 40px;
          max-width: 40px;
          width: 40px;
          padding: 1px;
          max-height: 19px; }
          .smart-log-viewer .log-panel table tr.log-line .level div.info-level {
            background: #727272; }
          .smart-log-viewer .log-panel table tr.log-line .level div.error-level {
            background: rgba(238, 93, 84, 0.5); }
        .smart-log-viewer .log-panel table tr.log-line .text-highlight {
          background: rgba(46, 190, 138, 0.5);
          border-radius: 3px;
          padding-right: 1px;
          padding-left: 1px;
          margin-right: -1px;
          margin-left: -1px;
          font-size: bold; }
    .smart-log-viewer .log-panel .top-loading-panel {
      padding: 3px; }
      .smart-log-viewer .log-panel .top-loading-panel div {
        padding: 1px 5px;
        display: block;
        border-radius: 4px;
        background: #666666;
        color: #999999;
        text-align: center;
        font-size: 20px; }
    .smart-log-viewer .log-panel .bottom-loading-panel {
      padding-bottom: 70px;
      padding-left: 2px; }
  .smart-log-viewer .control-panel {
    border-top: solid 2px #999999;
    background: #4c4c4c;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    z-index: 100; }
    .smart-log-viewer .control-panel .search-panel {
      padding: 4px;
      margin-right: 10px;
      max-width: 450px; }
    .smart-log-viewer .control-panel .date-panel {
      position: relative;
      display: inline;
      width: 300px;
      background: red; }
  .smart-log-viewer [smart-search] {
    vertical-align: middle;
    white-space: nowrap;
    position: relative; }
    .smart-log-viewer [smart-search] .icon {
      position: absolute;
      z-index: 1;
      top: 0px; }
    .smart-log-viewer [smart-search] .icon-left {
      margin-left: 10px;
      margin-top: 9px;
      color: #666666;
      font-size: 20px; }
    .smart-log-viewer [smart-search] .icon-right {
      margin-left: -25px;
      margin-top: 9px;
      color: #666666;
      font-size: 20px;
      cursor: pointer; }
      .smart-log-viewer [smart-search] .icon-right:hover {
        color: #999999; }
    .smart-log-viewer [smart-search] .search-input {
      position: relative;
      float: left;
      width: 500px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      font-size: 20px;
      background: #333333;
      color: #999999;
      border: none;
      height: 30px;
      padding-left: 35px;
      padding-right: 30px;
      padding-top: 0px;
      padding-bottom: 2px; }
      .smart-log-viewer [smart-search] .search-input::-webkit-input-placeholder {
        color: #666666; }
      .smart-log-viewer [smart-search] .search-input:-moz-placeholder {
        color: #666666; }
      .smart-log-viewer [smart-search] .search-input::-moz-placeholder {
        color: #666666; }
      .smart-log-viewer [smart-search] .search-input:-ms-input-placeholder {
        color: #666666; }
      .smart-log-viewer [smart-search] .search-input:focus {
        outline: none; }
      .smart-log-viewer [smart-search] .search-input:after {
        content: "";
        clear: both; }

body > div {
  font-family: 'Ubuntu'; }

.square .square-content {
  position: absolute;
  width: 100%;
  height: 100%; }
.square:after {
  content: "";
  display: block;
  padding-bottom: 100%; }

.center-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.center-helper + img {
  vertical-align: middle; }

/*# sourceMappingURL=index.css.map */
